@import "variables";
@import "landing";
.nav {
  background-color: $brown;
  transition: background-color .5s;
  .nav-items {
    background-color: $darkgray;
    transition: background-color .5s, right .5s;
    .close {
      color: $brown;
    }
    .item {
      &.active {
        a {
          color: $gray;
          font-family: $pfont;
          font-weight: bold;
        }
      }
      a {
        color: white;
        font-family: $pfont;
        font-weight: bold;
      }
    }

  }
  .burger {
    background-color: $brown;
    border: 1px solid $darkgray;
    i {
      color: $darkgray;
    }
  }
}

.container {
  p {
    font-size: 20px;
  }
}


.header {
  padding: 5px;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
}

.srt {
  text-align: center;
  padding-top: 200px;
  font-size: 100px;
  font-family: 'Lobster', cursive;
}

.tagline {
  text-align: center;
  padding-top: 20px;
}

* {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 30px;
}

.tt {
  font-size: 100px;
  padding-top: 100px;
}

@media only screen and (min-width: 436px) {

}

@media only screen and (min-width: 620px) {

}

@media only screen and (min-width: 768px) {
  .nav {
    background-color: transparent;
    .nav-items {
      background-color: transparent;
      .item {
        &.active {
          a {
            color: $gray;
          }
        }
        a {
          color: white;
        }
      }

    }
  }
}

@media only screen and (min-width: 1024px) {

}
